body {
  width:100%;
  height:100%;
}
#container {
  height:1024px;
}
/*------sidebar begins------*/
#sidebar {
  width:250px;
  height:100%;
  top:0;
  left: 0;
  background-color: #202020;
  position: fixed;
}

#profile {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}
#profile a {
  display: block;
  margin: 0 auto;
}
#profile a,#profile img {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  overflow: hidden;
}

#profile span {
  display: block;
  width: 100%;
  height:30px;
  text-align: center;
  color: #999;
  margin-top: 5px;
}

#sidebar .buttons {
  margin: 0 0 20px;
  font-size: 18px;
}
#sidebar ul,#sidebar li {
  list-style-type: none;
  margin:  0 ;
  padding: 0;
}

/*#sidebar .buttons li {
  display: block;
  height: 45px;
  line-height: 45px;
  width: 100%;
}*/
#sidebar .buttons li a {
  display: block;
  width: 100%;
  height: 45px;
  padding-left: 20px;
  color: #999;
  text-decoration: none;
}
#sidebar .buttons li a:hover {
  color: #888;
}
#sidebar  .buttons li a i {
  display: inline-block;
  width: 25px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-right: 25px;
}

#sidebar .buttons li a span {
  display: inline-block;
  vertical-align: middle;
}

#contact {
  display: block;
  height: 45px;
  width: 100%;
  margin: 10px 0;
  padding-left: 10px !important;
}
#contact li{
  /*border: 1px solid #fff;*/
  margin: 0 10px;
  display: inline-block;
  line-height: 45px;
  /*float: left;*/
  width: 25px;
  height: 45px;
}

#contact li a {
  display: block;
  width: 25px;
  height: 45px;
  text-align: center;
  color: #999;
  text-decoration: none;
}

#contact li a:hover {
  color: #888;
}
/*------sidebar ends*/
/*------main begins------*/
#main {
  background-color: #fff;
  padding-left: 290px;
  padding-right: 40px;
  max-width: 1390px;
}
.article {
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.head{
  height: 80px;
  clear: both;
}
article .title {
  margin: 0;
  width: auto;
  float: left;
}
.pubtime {
  float: right;
  width: 100px;
  position: relative;
  font-size: 1.2em;
  color: #555;
  text-align: right;
  margin-top: 5px;
}

.entry {
  font-size: 18px;
}

.entry p {
  margin-top: 10px;
}

.entry blockquote {
  border-left: 4px solid #e41c1e;
}

.entry blockquote p {
  margin-top: 0;
}
/*------main ends------*/
/*------footer begins------*/
#footer {
  margin: 20px ;
  text-align: center;
  padding: 10px;
}

#footer p {
  margin-top: 10px;
  line-height: 20px;
}
/*------footer ends------*/
.blog-detail {
  max-width: 965px;
  margin: 0 auto;
}

/*------entry content begins------*/
  /*.clear {
    height: 0;
    clear: both;
  }*/

  .entry-content {
    margin-top: 20px;
    font-size: 18px;
    clear: both;
  }

  .entry-content p {
    margin:20px auto;
  }
  .entry-content blockquote {
    margin-left: 20px;
    border-left: 4px solid #5d6a6a;
    padding-left: 10px;
    background-color: #f8f8f8;
  }

  .about-me {
    max-width: 965px;
    margin: 0 auto;
  }

  .about-me p {
    padding: 0 20px;
    font-size: 18px;
    color: #555;
    font-family: "Microsoft YaHei",sans-serif;
  }

  .about-me .title {
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    font-weight: 400;
    color: #777;
  }
  .about-me:nth-child(odd) {
    background: #fafafa;
  }

  .about-me ul {
    list-style-type: none;
  }

  .about-me ul li {
    margin: 5px ;
    padding: 10px;
    border-left: 8px solid #03cc85;
    border-bottom: 1px solid #f0f0f0;
    color: #555;
    font-family: "Microsoft YaHei",sans-serif;
  }

   #edu-exp li {
    margin-right: 40px;
    height: 50px;
    border-left: none;
    border-right: 8px solid #03cc85;
  }
  #edu-exp .title {
    text-align: right;
  }
  #edu-exp .year {
    float: right;
    margin: 0;
    padding: 0 0 0 20px;
    border-left: 2px solid #f0f0f0;
    line-height: 50px;
  }

   #edu-exp .school {
    float: right;
    margin: 0 10px;
    padding: 0;
    line-height: 50px;
  }
/*------entry content ends------*/
