body {
  height: 100vh;
  background: #eee;
  font-family: 'Microsoft Yahei' , sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-transition: background-color .5s linear;
  -moz-transition: background-color .5s linear;
  -ms-transition: background-color .5s linear;
  -o-transition: background-color .5s linear;
  transition: background-color .5s linear;
}
#quote-box {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 35%;
  min-width: 240px;
  height: auto;
  background: #fff;
}
blockquote {
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  font-size: 1.2em;
  color: #eee;
  -webkit-transition: color .5s linear;
  -moz-transition: color .5s linear;
  -ms-transition: color .5s linear;
  -o-transition: color .5s linear;
  transition: color .5s linear;
}
#author {
  text-align: right;
  color: #eee;
  -webkit-transition: color .5s linear;
  -moz-transition: color .5s linear;
  -ms-transition: color .5s linear;
  -o-transition: color .5s linear;
  transition: color .5s linear;
}
.button-group a {
  display: inline-block;
  text-decoration: none;
  padding: 6px 14px;
  border-radius: 3px;
  background: #eee;
  color: #fff;
  -webkit-transition: color .5s linear;
  -moz-transition: color .5s linear;
  -ms-transition: color .5s linear;
  -o-transition: color .5s linear;
  transition: color .5s linear;
}
a {
  text-decoration: none;
  color: inherit;
}
#new-quote {
  float: right;
}
footer {
  flex-grow: 1;
  padding-top: 10px;
  text-align: center;
  color: #fff;
}
